<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>hzqtc.gitrepostatus</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/hzqtc/Code/genmox/src/genmox</string>
    <string>1800</string>
    <string>/Users/hzqtc/Code/genmox/monitors/git-repo/repo-status.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/hzqtc-gitrepostatus.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/hzqtc-gitrepostatus.log</string>
</dict>
</plist>
